# Dependencies
node_modules/

# Build outputs
/whisper
dist/
*.tsbuildinfo
*.exe

# Environment
.env
.env.local
.env.*.local

# Vercel
.vercel/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo
